[Unit]
Description= Run ABV Service Script
After=systemd-udev-settle.service
Requires=systemd-udev-settle.service

[Service]
Type=simple
User=preag
Group=preag  
WorkingDirectory=/home/preag/Desktop/ABV_Agri_System
Environment="PATH=/home/preag/archiconda3/envs/env38/bin:/usr/bin:/bin"

ExecStart=/home/preag/Desktop/ABV_Agri_System/start_main_script.sh

[Install]
WantedBy=multi-user.target
