[Unit]
Description=Mount USB Drive on Startup
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/home/preag/Desktop/ABV_Agri_System/usb_mount.sh mount
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
